body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1040px;
  background-color: rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  gap: 2rem;
}

.container {
  padding: 2rem;
  font-size: 3rem;
  margin: auto;
  margin-top: 20px;
}

img {
  width: 200px;
}

.vue {
  grid-area: vue;
  display: grid;
  height: 100%;
  place-items: center;
  background: rgb(132, 223, 83);
}

.solid {
  grid-area: solid;
  background: pink;
}

.react {
  grid-area: react;
  color: #fff;
  background: blue;
}