body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1040px;
  margin: auto;
  font-size: 3rem;
  margin: auto;
  margin-top: 20px;
}

.vue {
  grid-area: vue;
  background: rgb(132, 223, 83);
}

.solid {
  grid-area: solid;
  background: pink;
}

.react {
  grid-area: react;
  background: blue;
}