body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  margin-top: 20px;
}

.headerElement {
  width: 100%;
  background-color: red;
}

.headerElement img {
  height: 300px;
}